body{
    padding: 15px 33px;
    margin: 0% 36%;
}

nav {
    background: white;
    width: 360px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 22px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
}

nav > a{
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 22px;
}

nav> a:hover {
    transition: 0.25s;
    background-color: rgba(56 , 130 , 209);
    color: white;
}